@charset "utf-8";
/*create time 2013-12-25*/
/*login css style start*/
/* CSS Document */
*{margin:0;padding:0;}
body{font-family:Microsoft YaHei, Arial; background:#d5e2f4; font-size:14px; color:#666;}
ol li,ul li{ list-style-type:none; vertical-align:middle;}
img,input{border:none;vertical-align:middle; cursor:pointer;}
a{ text-decoration:none; cursor:pointer;}
a:hover{ text-decoration:underline;}
#login_content{width:643px; margin:0 auto; height:388px;margin-top:110px; background:url(../image/login.jpg) no-repeat;}
.login_div{ width:643px; height:388px; margin:0 auto;}
.login_div_text{display:block; height:246px;}
.login_div_text ul{ width:350px; margin:0px 0px 30px 294px; padding-top:140px; color:#1d268a;}
.login_div_text ul li{display:block;width:340px; float:left; padding-bottom:15px; vertical-align:sub;}
.login_input1,.login_input2{width:200px; border:none; line-height:22px; height:22px; color:#1d268a; padding:2px 10px;border:1px solid #4282c9;}
.login_checkbox{border:1px solid #4282c9; margin-right:5px;}
.login_btn,.login_btn_mouseover{ width:105px; height:32px; border:none; line-height:32px;  background: url(../image/login_btn.png) no-repeat; font-family:Microsoft YaHei, Arial; font-size:16px; font-weight:bold;text-align:center; margin-right:5px;}
.login_btn{color:#fff;}
.login_btn_mouseover{ background:url(../image/login_btn2.png) no-repeat; color:#fff;}
.footer{width:643px;margin:0 auto; display:block; text-align:center;}
/*login css style end*/